//BREAKPOINTS
$bp-desktop-lg: 90rem; //1440
$bp-desktop: 64rem; //1024
$bp-tablet: 48rem; //768
$bp-mobile: 20rem; //320
$bp-mobile-lg: 23rem; //368

//LAYOUT
$space-std: 1.5625vw;
$col-left-w: 16vw;
$square-grid-w: $col-left-w;
$col-right: $col-left-w;
$sidebar-w: $col-left-w;
$footer-height: 7.8vw;
$footer-height-out: 15vw; //distance to translate footer on transition from home to irl / online
$right-v-pad: $space-std;

$mobile-header-height: 60px;

$z-red-square: 1;
$z-main: 10;
$z-red-square-active: 20;
$z-footer: 30;
$z-mobile-nav: 100;
$z-mobile-nav-active: 110;

//TYPOGRAPHY
$scaling-font--std: 1.1vw;

//COLORS
$c-gray: gray;
$c-gray--lt: #ccc;
$c-blue: #0000fe;
$c-black: black;
$c-white: white;
$c-red: red;
$c-yellow: yellow;
