@import "variables";
@import "mixins";

@font-face {
  font-family: "pixelArial";
  src: url("/assets/fonts/pixelArial.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: $c-black;
  color: $c-white;
  font-family: Arial, Helvetica, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
  margin: 0;
  touch-action: pan-y; // disable pinch-zoom
  @include breakpoint(tablet) {
    overflow: hidden; //can't remember why I did this; maybe remove?
  }
  @include breakpoint(desktop) {
    font-size: $scaling-font--std;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $c-blue;
  &:hover {
    color: $c-red;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.no-mobile {
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}

.mobile-only {
  display: block;
  @include breakpoint(tablet) {
    display: none;
  }
}

.container {
  position: relative;
  display: flex;
}

.content {
  flex-grow: 1;
  min-height: calc(100vh - 7.8vw);
}

.sidebar {
  background-color: $c-gray;
  width: $sidebar-w;
  min-height: calc(100vh - #{$footer-height});
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}

.header-main {
  display: flex;
  &__square {
    width: $mobile-header-height;
    background-color: $c-blue;
    padding: $space-std * 2;
    @include breakpoint(tablet) {
      width: $col-left-w;
      height: $col-left-w;
      max-height: $col-left-w;
    }
  }
  &__burger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(tablet) {
      display: none;
    }
  }
  &__burger-bar {
    height: 5px;
    width: 100%;
    background-color: $c-black;
  }
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include breakpoint(tablet) {
      height: $col-left-w;
    }
  }
  &__title-container {
    background-color: $c-white;
    padding: $space-std;
    flex-grow: 1;
    display: flex;
    align-items: center;
    @include breakpoint(mobile_only) {
      height: $mobile-header-height;
    }
    @include breakpoint(tablet) {
      height: 50%;
      flex-basis: 50%;
    }
  }
  &__title-link {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: $c-black;
    &:hover {
      .header-main__title {
        cursor: default;
        //color: $c-red; //MH - disabled for post-event
      }
    }
  }
  &__title {
    color: $c-yellow;
    background-color: $c-black;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    @include breakpoint(mobile_only) {
      width: 100%;
    }
    @include breakpoint(tablet) {
      font-size: 2vw;
      letter-spacing: 5px;
    }
  }
}

.nav-main {
  background-color: $c-black;
  @include breakpoint(tablet) {
    height: 50%;
    flex-basis: 50%;
  }
  &__items {
    padding: $space-std;
    display: none;
    @include breakpoint(tablet) {
      display: block;
      height: 100%;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    height: 50%;
    &[data-id="irl"],
    &[data-id="online"] {
      //MH - disabled for post-event
      display: none;
    }
  }
  &__link {
    color: $c-black;
    text-transform: uppercase;
    background-color: $c-white;
    padding: 5px 10px;
    display: block;
    letter-spacing: 1px;
    &:hover {
      background-color: $c-red;
      color: black;
    }
    @include breakpoint(tablet) {
      font-size: 1.4vw;
      height: 100%;
    }
    &[data-id="about"] {
      color: white;
      &:hover {
        color: white;
        background-color: white;
      }
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__col {
    &.left {
      background-color: $c-gray;
      padding: $space-std;
      padding-bottom: 0;
      width: $col-left-w * 2;
      min-height: calc(100vh - #{$col-left-w * 2});
      @include breakpoint(mobile_only) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - #{$mobile-header-height});
        z-index: $z-mobile-nav;
        min-height: 0;
        padding: $space-std;
        background-color: $c-black;
        [data-mobile-nav-active="true"] & {
          display: block;
        }
      }
      @include breakpoint(tablet) {
        width: $col-left-w;
        min-height: calc(100vh - #{$col-left-w});
      }
    }
    &.right {
      background-color: $c-black;
      flex-grow: 1;
      position: relative;
      width: calc(100vw - #{$col-left-w + $sidebar-w});
      min-height: calc(100vh - #{$col-left-w * 2});
      padding: $right-v-pad $space-std $right-v-pad 0;
      flex: 1;

      @include breakpoint(tablet) {
        min-height: calc(100vh - #{$col-left-w});
        width: calc(100vw - #{$col-left-w + $sidebar-w});
      }
      @include breakpoint(mobile_only) {
        padding-left: $space-std;
      }
    }
    &-container {
      position: relative;
      z-index: $z-main;
      display: grid;
      grid-template-columns: 55% auto;
      @include breakpoint(mobile_only) {
        display: block;
      }
    }
  }
}

.intro {
  background-color: $c-white;
  color: $c-black;
  height: 100%;
}

.square-grid {
  position: relative;
  z-index: 2;

  [data-initial-load="true"] & {
    @include breakpoint(mobile_only) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(mobile_only) {
      justify-content: space-between;
    }
  }
  &__red-square {
    width: calc(#{$square-grid-w * 2} + #{$space-std});
    position: absolute;
    top: $right-v-pad;
    right: $space-std;
    background-color: $c-red;
    z-index: $z-red-square;

    @include breakpoint(tablet) {
      width: calc(#{$square-grid-w * 2} + #{$space-std});
      position: absolute;
      top: $right-v-pad;
      right: $space-std;
      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (1 / 1) * 100%;
      }
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }
  }

  &__text-container {
    margin-right: $space-std;
    margin-top: $space-std;
    @include breakpoint(mobile_only) {
      margin: 0;
      margin-top: $space-std;
      padding: $space-std;
      background-color: $c-red;
    }
  }

  &__exhibit-content {
    background-color: $c-white;
    color: $c-black;
    padding: $space-std;
    font-size: 12px;
    display: none;
    height: calc(100% - #{$space-std});
    flex-direction: column;
    @include breakpoint(desktop) {
      font-size: $scaling-font--std;
    }
  }

  &__exhibit-content-fill {
    flex-grow: 1;
    background-color: $c-black;
  }
  &__exhibit-content-inner {
    flex-grow: 0;
  }

  &__square {
    background-color: $c-blue;
    position: relative;
    flex-grow: 0;

    margin-top: $space-std;
    &:nth-child(-n + 2) {
      margin-top: 0;
    }
    @include breakpoint(mobile_only) {
      width: calc(50vw - #{$space-std + $space-std/2});
      height: calc(50vw - #{$space-std + $space-std/2});
    }

    @include breakpoint(tablet) {
      margin-left: $space-std;
      width: $square-grid-w;
      height: $square-grid-w;
    }

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    border: $space-std solid $c-blue;
    &:hover {
      border-color: $c-yellow;
    }
  }
}

.collection {
  &__title {
    margin: 0;
    padding: $space-std;
    font-size: 14px;
    &[data-id="irl"] {
      display: none; //MH - disabled for post-event
    }
  }
  &__nav {
    background-color: $c-white;
    padding: $space-std * 2;
    flex-direction: column;

    &[data-id="irl"] {
      display: none; //MH - disabled for post-event
    }

    @include breakpoint(tablet) {
      display: none;
      padding: $space-std;
      height: 100%;
    }
  }
  &__list {
    @include breakpoint(tablet) {
      margin-bottom: 1.1vw;
    }
  }
  &__item {
    margin-top: 10px;
    @include breakpoint(mobile_only) {
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__link {
    color: $c-blue;
    text-transform: uppercase;
    font-size: 14px;
    @include breakpoint(desktop) {
      font-size: 1vw;
    }

    &:hover,
    &.active {
      color: $c-red;
    }
  }
  &__fill {
    flex-grow: 1;
    background-color: $c-black;
  }
}

.modal {
  display: none;
  &.is-open {
    display: block;
  }
  &__strobe-text {
    animation: strobe 0.5s linear infinite;
    p {
      margin: 0;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-modal-overlay;
    &:active {
      .modal__container {
        background-color: $c-red;
      }
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: $z-modal-bg;
  }

  &__container {
    background-color: $c-gray;
    padding: $space-std;
    max-width: calc(100vw - #{$space-std * 2});
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    z-index: $z-modal-content;
    @include breakpoint(tablet) {
      max-width: 70vw;
    }
  }

  &__close-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__close-inner {
    width: 10vw;
    position: relative;
    padding-top: 100%;
    background-color: $c-red;
    cursor: pointer;
    &:hover {
      background-color: red;
    }
    @include breakpoint(tablet) {
      width: 5vw;
    }
  }
  &__close {
    padding: $space-std;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__close-text {
    background-color: $c-white;
    color: $c-black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  &__content {
    background-color: $c-white;
    padding: $space-std;
    color: $c-black;
  }

  &__content-item,
  &__image {
    display: none;
    &.active {
      display: block;
    }
  }
  &__image {
    width: 100%;
  }
  &#modal-1 {
    .modal {
      &__container {
        width: 100%;
      }
      &__image {
        max-height: 70vh;
        width: auto;
        max-width: 100%;
        object-fit: contain;
        @include breakpoint(mobile_sm) {
          max-height: 50vh;
        }
      }
      &__image-container {
        background-color: $c-black;
        justify-content: center;
        display: flex;
        padding: $space-std;
      }
      &__content-item p {
        margin: 0;
      }
    }
  }
  &#modal-2 {
    //online
    position: absolute;
    top: $space-std;
    left: $space-std;
    width: calc(100% - #{$space-std * 2});
    height: calc(100vh - #{$col-left-w + $footer-height + $space-std * 4});
    z-index: $z-modal2-content;
    @include breakpoint(tablet) {
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - #{$col-left-w} - #{$footer-height});
    }
    .modal {
      &__container {
        padding: 0;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      &__images {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: black;
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &#modal-5,
  &#modal-6 {
    pointer-events: none;
    .modal__container {
      background-color: $c-yellow;
      @include breakpoint(tablet) {
        max-width: 50%;
      }
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7.8vw;
  z-index: $z-footer;
  background-color: $c-gray;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in;
  &__people {
    position: relative;
    width: 100%;
  }

  .door {
    left: 85.4%;
    bottom: 80%;
    height: 8vw;
    width: auto;
    position: absolute;
    @include breakpoint(mobile_only) {
      display: none;
    }
  }
}

//STATE LOGIC

body.modal-active {
  .square-grid__image {
    pointer-events: none;
  }
}

body[data-mobile-nav-active="true"] {
  .main__col.right,
  .modal,
  .square-grid__image {
    pointer-events: none;
  }
  @include breakpoint(mobile_only) {
    .content {
      z-index: $z-mobile-nav-active;
    }
  }
}

body[data-page="home"] {
  .header-main {
    &__title {
      color: $c-red;
    }
  }
  .main {
    &__col {
      height: calc(100vh - #{$col-left-w});
      &.left {
        padding-bottom: $space-std;
      }

      &-container {
        display: block;
        left: $space-std;
        width: calc(100% - #{$space-std * 2});
        height: calc(100% - #{$space-std * 2});
        @include breakpoint(tablet) {
          left: #{$space-std * 2};
        }
      }
    }
  }
  .square-grid {
    display: none;
    &__red-square {
      position: absolute;
      width: calc(100% - #{$space-std * 2});
      height: calc(100% - #{$space-std * 2});
      top: $space-std;
      right: $space-std;
      display: none;
      @include breakpoint(tablet) {
        display: block;
      }
    }
    &__exhibit-content.active[data-page="home"] {
      display: flex;
      height: 100%;
      overflow: auto;
    }
    &__text-container {
      height: calc(100% - #{$space-std * 2});
      @include breakpoint(tablet) {
        height: 100%;
      }
    }
  }
  .collection {
    &__nav {
      &[data-id="home"] {
        display: flex;
      }
    }
  }
  .footer {
    transform: translateY($footer-height-out);
  }
}

body[data-page="irl"] {
  #render-canvas {
    pointer-events: none !important;
  }
  .nav-main__item[data-id="irl"] {
    .nav-main__link {
      background-color: $c-red;
    }
  }
  .square-grid__exhibit-content[data-page="home"] {
    display: none !important;
  }
  .square-grid__image.active,
  .square-grid__exhibit-content.active {
    display: flex;
  }
  .footer {
    transform: translateY($footer-height-out);
  }
  .square-grid {
    &__red-square {
      @include breakpoint(mobile_only) {
        display: none;
      }
    }
  }
  .collection {
    &__nav[data-id="irl"] {
      @include breakpoint(tablet) {
        display: flex;
      }
    }
    &__nav[data-id="online"] {
      @include breakpoint(tablet) {
        display: none;
      }
    }
  }
}

body[data-page="online"] {
  .nav-main__item[data-id="online"] {
    .nav-main__link {
      background-color: $c-red;
    }
  }
  .square-grid__image[data-page="online"],
  .square-grid__exhibit-content[data-page="online"] {
    display: block;
  }
  .square-grid {
    &__text-container {
      display: none;
    }
  }
  .collection {
    &__nav[data-id="irl"] {
      @include breakpoint(tablet) {
        display: none;
      }
    }
    &__nav[data-id="online"] {
      @include breakpoint(tablet) {
        display: flex;
      }
    }
  }
}

.landscape-warning {
  display: none;
  position: fixed;
  z-index: $z-landscape;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $c-white;
  justify-content: center;
  align-items: center;
  color: $c-black;
  padding: $space-std;
  border: $space-std solid $c-gray;
  text-align: center;

  @media screen and (orientation: landscape) and (max-width: $bp-landscape) {
    display: flex;
  }
}

#render-canvas {
  background: transparent;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  touch-action: none;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  @include breakpoint(mobile_only) {
    //TODO: OREN - I had to disable pointer events on mobile because they are set up to toggle on mouse position and are currently blocking UI elements
    pointer-events: none !important;
  }
}

#sketch-canvas {
  background: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  touch-action: none;
  width: 100%;
}

#sketch,
#sketch2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#sketch2:hover {
  cursor: pointer;
}

@keyframes strobe {
  0% {
    color: $c-black;
  }
  100% {
    color: $c-blue;
  }
}
