@import "variables";
@import "mixins";

@font-face {
  font-family: "pixelArial";
  src: url("/assets/fonts/pixelArial.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: $c-black;
  color: $c-white;
  font-family: Arial, Helvetica, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $c-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
}

.content {
  flex-grow: 1;
  min-height: calc(100vh - 7.8vw);
}

.sidebar {
  background-color: $c-gray;
  width: $sidebar-w;
  min-height: calc(100vh - #{$footer-height});
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}

.header-main {
  display: flex;
  &__square {
    width: 32vw;
    background-color: $c-blue;
    @include breakpoint(tablet) {
      width: $col-left-w;
      min-height: $col-left-w;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden;
      text-indent: -1000px;
    }
  }
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__title-container {
    background-color: $c-white;
    padding: $space-std;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  &__title {
    color: $c-yellow;
    background-color: $c-black;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    @include breakpoint(tablet) {
      font-size: 30px;
      letter-spacing: 5px;
    }
    @include breakpoint(mobile_sm) {
      font-size: 18px;
    }
  }
}

.nav-main {
  background-color: $c-black;
  &__items {
    padding: $space-std;
  }
  &__item {
    display: block;
    display: flex;
    align-items: center;
    &:nth-child(even) {
      .nav-main__link {
        background-color: $c-gray--lt;
      }
    }
  }
  &__link {
    color: $c-black;
    text-transform: uppercase;
    background-color: $c-white;
    padding: 5px 10px;
    display: block;
    letter-spacing: 1px;
    @include breakpoint(tablet) {
      font-size: 20px;
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;

  &__col {
    &.left {
      background-color: $c-gray;
      padding: $space-std;
      padding-bottom: 0;
      width: 32vw;
      min-height: calc(100vh - #{$col-left-w});
      @include breakpoint(tablet) {
        width: $col-left-w;
      }
    }
    &.right {
      background-color: $c-black;
      flex-grow: 1;
      position: relative;
      width: calc(100vw - #{$col-left-w} - #{$sidebar-w});
      min-height: calc(100vh - #{$col-left-w});
      padding: $right-v-pad $space-std $right-v-pad 0;
      flex: 1;

      @include breakpoint(tablet) {
        width: calc(100vw - #{$col-left-w} - #{$sidebar-w});
      }
      @include breakpoint(mobile_only) {
        padding-left: $space-std;
      }
    }
    &-container {
      position: relative;
      z-index: $z-main;
      display: grid;
      grid-template-columns: 55% auto;
      @include breakpoint(mobile_only) {
        display: block;
      }
    }
  }
}

.intro {
  background-color: $c-white;
  color: $c-black;
  padding: 5px;
  height: 100%;
}

.square-grid {
  position: relative;
  z-index: 2;
  @include breakpoint(mobile_only) {
    width: 55%;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__red-square {
    width: calc(#{$square-grid-w * 2} + #{$space-std});
    position: absolute;
    top: $right-v-pad;
    right: $space-std;
    background-color: $c-red;
    z-index: $z-red-square;

    @include breakpoint(tablet) {
      width: calc(#{$square-grid-w * 2} + #{$space-std});
      position: absolute;
      top: $right-v-pad;
      right: $space-std;
      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (1 / 1) * 100%;
      }
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }
  }

  &__text-container {
    margin-right: $space-std;
    margin-top: $space-std;
    @include breakpoint(mobile_only) {
      margin: 0;
      margin-top: $space-std;
      padding: $space-std;
      background-color: $c-red;
    }
  }
  &__text-inner {
    background-color: $c-white;
    color: $c-black;
    padding: $space-std;
    font-size: 12px;
  }
  &__exhibit-content {
    display: none;
  }

  &__square {
    width: $square-grid-w;
    height: $square-grid-w;
    margin-left: $space-std;
    margin-top: $space-std;
    background-color: $c-blue;
    position: relative;
    flex-grow: 0;

    &:nth-child(-n + 2) {
      margin-top: 0;
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
  }
}

.collection {
  &__nav {
    background-color: $c-white;
    color: $c-black;
    padding: 5px;
    height: 100%;
    display: none;
  }
  &__item {
    margin-top: 10px;
  }
  &__link {
    color: $c-black;
    text-transform: uppercase;
    font-size: 14px;
    @include breakpoint(desktop) {
      font-size: 16px;
    }
    @include breakpoint(mobile_sm) {
      font-size: 12px;
    }
  }
}

.modal {
  display: none;
  &.is-open {
    display: block;
  }
}

.modal {
  display: none;
  &.is-open {
    display: block;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
  }

  &__container {
    background-color: $c-gray;
    padding: $space-std;
    max-width: 70vw;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
  }

  &__content {
    background-color: $c-white;
    padding: $space-std;
    color: $c-black;
  }

  &__content-item,
  &__image {
    display: none;
    &.active {
      display: block;
    }
  }
  &__image {
    width: 100%;
  }
  &#modal-2 {
    position: absolute;
    width: 100%;
    height: calc(100vh - #{$col-left-w} - #{$footer-height});
    top: 0;
    left: 0;
    .modal {
      &__container {
        padding: 0;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
      &__images {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: black;
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7.8vw;
  z-index: $z-footer;
  background-color: $c-gray;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in;
  &__people {
    position: relative;
    width: 100%;
  }
  .person {
    position: absolute;
    width: auto;
    height: 7.8vw;
    bottom: 80%;
    &.p1 {
      left: 21.875%;
    }
    &.p2 {
      left: 25.5%;
    }
  }
  .door {
    left: 85.4%;
    bottom: 80%;
    height: 8vw;
    width: auto;
    position: absolute;
    @include breakpoint(mobile_only) {
      display: none;
    }
  }
}

//STATE LOGIC

body[data-page="home"] {
  .square-grid {
    &__text-container {
      display: none;
    }
    &__red-square {
      z-index: $z-red-square-active; //position red square above blues
    }
    &__square:nth-child(n + 5) {
      //hide all but first 4 squares
      display: none;
    }
  }
}

body[data-page="irl"] {
  .nav-main__item[data-id="irl"] {
    .nav-main__link {
      background-color: $c-red;
    }
  }
  .square-grid__image[data-page="irl"],
  .square-grid__exhibit-content[data-page="irl"] {
    display: block;
  }
  .footer {
    transform: translateY($footer-height-out);
  }
  .square-grid {
    &__red-square {
      @include breakpoint(mobile_only) {
        display: none;
      }
    }
  }
}

body[data-page="online"] {
  .nav-main__item[data-id="online"] {
    .nav-main__link {
      background-color: $c-red;
    }
  }
  .square-grid__image[data-page="online"],
  .square-grid__exhibit-content[data-page="online"] {
    display: block;
  }
  .square-grid {
    display: none;
    &__red-square,
    &__text-container {
      display: none;
    }
  }
  .collection {
    &__nav {
      display: block;
    }
  }
}
