@font-face {
  font-family: "pixelArial";
  src: url("/assets/fonts/pixelArial.ttf");
}
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
}

.content {
  flex-grow: 1;
  min-height: calc(100vh - 7.8vw);
}

.sidebar {
  background-color: gray;
  width: 16vw;
  min-height: calc(100vh - 7.8vw);
  display: none;
}
@media (min-width: 48rem) {
  .sidebar {
    display: block;
  }
}

.header-main {
  display: flex;
}
.header-main__square {
  width: 32vw;
  background-color: #0000fe;
}
@media (min-width: 48rem) {
  .header-main__square {
    width: 16vw;
    min-height: 16vw;
  }
}
.header-main__square a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  text-indent: -1000px;
}
.header-main__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.header-main__title-container {
  background-color: white;
  padding: 1.5625vw;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.header-main__title {
  color: yellow;
  background-color: black;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  display: inline-block;
  margin: 0;
  font-weight: normal;
}
@media (min-width: 48rem) {
  .header-main__title {
    font-size: 30px;
    letter-spacing: 5px;
  }
}
@media (min-width: 20rem) and (max-width: 23rem) {
  .header-main__title {
    font-size: 18px;
  }
}

.nav-main {
  background-color: black;
}
.nav-main__items {
  padding: 1.5625vw;
}
.nav-main__item {
  display: block;
  display: flex;
  align-items: center;
}
.nav-main__item:nth-child(even) .nav-main__link {
  background-color: #ccc;
}
.nav-main__link {
  color: black;
  text-transform: uppercase;
  background-color: white;
  padding: 5px 10px;
  display: block;
  letter-spacing: 1px;
}
@media (min-width: 48rem) {
  .nav-main__link {
    font-size: 20px;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
}
.main__col.left {
  background-color: gray;
  padding: 1.5625vw;
  padding-bottom: 0;
  width: 32vw;
  min-height: calc(100vh - 16vw);
}
@media (min-width: 48rem) {
  .main__col.left {
    width: 16vw;
  }
}
.main__col.right {
  background-color: black;
  flex-grow: 1;
  position: relative;
  width: calc(100vw - 16vw - 16vw);
  min-height: calc(100vh - 16vw);
  padding: 1.5625vw 1.5625vw 1.5625vw 0;
  flex: 1;
}
@media (min-width: 48rem) {
  .main__col.right {
    width: calc(100vw - 16vw - 16vw);
  }
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  .main__col.right {
    padding-left: 1.5625vw;
  }
}
.main__col-container {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 55% auto;
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  .main__col-container {
    display: block;
  }
}

.intro {
  background-color: white;
  color: black;
  padding: 5px;
  height: 100%;
}

.square-grid {
  position: relative;
  z-index: 2;
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  .square-grid {
    width: 55%;
  }
}
.square-grid__inner {
  display: flex;
  flex-wrap: wrap;
}
.square-grid__red-square {
  width: calc(32vw + 1.5625vw);
  position: absolute;
  top: 1.5625vw;
  right: 1.5625vw;
  background-color: red;
  z-index: 1;
}
@media (min-width: 48rem) {
  .square-grid__red-square {
    width: calc(32vw + 1.5625vw);
    position: absolute;
    top: 1.5625vw;
    right: 1.5625vw;
  }
  .square-grid__red-square:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }
}
.square-grid__red-square:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.square-grid__text-container {
  margin-right: 1.5625vw;
  margin-top: 1.5625vw;
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  .square-grid__text-container {
    margin: 0;
    margin-top: 1.5625vw;
    padding: 1.5625vw;
    background-color: red;
  }
}
.square-grid__text-inner {
  background-color: white;
  color: black;
  padding: 1.5625vw;
  font-size: 12px;
}
.square-grid__exhibit-content {
  display: none;
}
.square-grid__square {
  width: 16vw;
  height: 16vw;
  margin-left: 1.5625vw;
  margin-top: 1.5625vw;
  background-color: #0000fe;
  position: relative;
  flex-grow: 0;
}
.square-grid__square:nth-child(-n+2) {
  margin-top: 0;
}
.square-grid__square:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.square-grid__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}

.collection__nav {
  background-color: white;
  color: black;
  padding: 5px;
  height: 100%;
}
.collection__item {
  margin-top: 10px;
}
.collection__link {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}
@media (min-width: 64rem) {
  .collection__link {
    font-size: 16px;
  }
}
@media (min-width: 20rem) and (max-width: 23rem) {
  .collection__link {
    font-size: 12px;
  }
}

.modal {
  display: none;
}
.modal.is-open {
  display: block;
}

.modal {
  display: none;
}
.modal.is-open {
  display: block;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}
.modal__container {
  background-color: gray;
  padding: 1.5625vw;
  max-width: 70vw;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__content {
  background-color: white;
  padding: 1.5625vw;
  color: black;
}
.modal__content-item, .modal__image {
  display: none;
}
.modal__content-item.active, .modal__image.active {
  display: block;
}
.modal__image {
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7.8vw;
  z-index: 30;
  background-color: gray;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in;
}
.footer__people {
  position: relative;
  width: 100%;
}
.footer .person {
  position: absolute;
  width: auto;
  height: 7.8vw;
  bottom: 80%;
}
.footer .person.p1 {
  left: 21.875%;
}
.footer .person.p2 {
  left: 25.5%;
}
.footer .door {
  left: 85.4%;
  bottom: 80%;
  height: 8vw;
  width: auto;
  position: absolute;
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  .footer .door {
    display: none;
  }
}

body[data-page=home] .square-grid__text-container {
  display: none;
}
body[data-page=home] .square-grid__red-square {
  z-index: 20;
}
body[data-page=home] .square-grid__square:nth-child(n+5) {
  display: none;
}

body[data-page=irl] .nav-main__item[data-id=irl] .nav-main__link {
  background-color: red;
}
body[data-page=irl] .square-grid__image[data-page=irl],
body[data-page=irl] .square-grid__exhibit-content[data-page=irl] {
  display: block;
}

body[data-page=online] .nav-main__item[data-id=online] .nav-main__link {
  background-color: red;
}
body[data-page=online] .square-grid__image[data-page=online],
body[data-page=online] .square-grid__exhibit-content[data-page=online] {
  display: block;
}

body[data-page=irl] .footer,
body[data-page=online] .footer {
  transform: translateY(15vw);
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  body[data-page=irl] .square-grid__red-square,
body[data-page=online] .square-grid__red-square {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
