@font-face {
  font-family: "pixelArial";
  src: url("/assets/fonts/pixelArial.ttf");
}
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
  margin: 0;
  /*
  //CRISPY TEXT
  text-shadow:
    0 0 0px, 
    0 0 0px,
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px;
    */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
}

.content {
  flex-grow: 1;
  min-height: 100vh;
}

.sidebar {
  background-color: gray;
  width: 16vw;
  min-height: 100vh;
  display: none;
}
@media (min-width: 48rem) {
  .sidebar {
    display: block;
  }
}

.header-main {
  display: flex;
}
.header-main__square {
  width: 32vw;
  background-color: #0000fe;
}
@media (min-width: 48rem) {
  .header-main__square {
    width: 16vw;
  }
}
.header-main__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.header-main__title-container {
  background-color: white;
  padding: 1.5625vw;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.header-main__title {
  color: yellow;
  background-color: black;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  display: inline-block;
  margin: 0;
  font-weight: normal;
}
@media (min-width: 48rem) {
  .header-main__title {
    font-size: 30px;
    letter-spacing: 5px;
  }
}

.nav-main {
  background-color: black;
}
.nav-main__items {
  padding: 1.5625vw;
}
.nav-main__item {
  display: block;
  display: flex;
  align-items: center;
}
.nav-main__item:nth-child(even) .nav-main__link {
  background-color: #ccc;
}
.nav-main__link {
  color: black;
  text-transform: uppercase;
  background-color: white;
  padding: 5px 10px;
  display: block;
  letter-spacing: 2px;
}
@media (min-width: 48rem) {
  .nav-main__link {
    font-size: 20px;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
}
.main__col.left {
  background-color: gray;
  padding: 1.5625vw;
  width: 32vw;
  min-height: calc(100vh - 32vw);
}
@media (min-width: 48rem) {
  .main__col.left {
    width: 16vw;
    min-height: calc(100vh - 16vw);
  }
}
.main__col.right {
  background-color: black;
  padding: 60px 0px;
  flex-grow: 1;
  position: relative;
  min-height: calc(100vh - 32vw);
  width: calc(100vw - 32vw);
  padding: 60px 1.5625vw 60px 0;
  flex: 1;
}
@media (min-width: 48rem) {
  .main__col.right {
    min-height: calc(100vh - 16vw);
    width: calc(100vw - 32vw);
  }
}

.intro {
  background-color: white;
  color: black;
  padding: 5px;
  height: 100%;
}

.square-grid {
  display: flex;
  flex-wrap: wrap;
  width: 36vw;
}
.square-grid__red-square {
  background-color: red;
  position: relative;
}
.square-grid__square {
  width: 16vw;
  margin-left: 1.5625vw;
  margin-top: 1.5625vw;
  background-color: blue;
  position: relative;
  flex-grow: 0;
}
.square-grid__square:nth-child(-n+2) {
  margin-top: 0;
}
.square-grid__square:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.square-grid__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.collection__nav {
  background-color: white;
  color: black;
  padding: 5px;
  height: 100%;
}
.collection__item {
  margin-top: 10px;
}
.collection__link {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}
@media (min-width: 64rem) {
  .collection__link {
    font-size: 16px;
  }
}

#home .square-grid__red-square {
  width: 33.61vw;
  position: absolute;
  top: 60px;
  right: 1.5625vw;
}
#home .square-grid__red-square:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

#show .nav-main__item[data-id=show] .nav-main__link {
  background-color: red;
}
#show .col-left__content {
  height: 100%;
  padding: 10px;
  background-color: white;
  color: black;
}
#show .col-left__content p {
  margin-top: 1.5625vw;
}
#show .col-left__content p:first-child {
  margin-top: 0;
}

#collection .nav-main__item[data-id=collection] .nav-main__link {
  background-color: red;
}

#show .square-grid, #collection .square-grid {
  position: relative;
  z-index: 2;
  width: 36vw;
}
#show .square-grid__square, #collection .square-grid__square {
  width: 16vw;
  margin-left: 1.5625vw;
  margin-top: 1.5625vw;
  background-color: blue;
  position: relative;
  flex-grow: 0;
}
#show .square-grid__square:nth-child(-n+2), #collection .square-grid__square:nth-child(-n+2) {
  margin-top: 0;
}
#show .square-grid__red-square, #collection .square-grid__red-square {
  z-index: 1;
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  #show .square-grid__red-square, #collection .square-grid__red-square {
    margin-top: 1.5625vw;
    margin-left: 1.5625vw;
  }
}
@media (min-width: 48rem) {
  #show .square-grid__red-square, #collection .square-grid__red-square {
    width: 33.61vw;
    position: absolute;
    top: 60px;
    right: 1.5625vw;
  }
  #show .square-grid__red-square:before, #collection .square-grid__red-square:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }
}
#show .square-grid__red-square-outer, #collection .square-grid__red-square-outer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
@media (min-width: 0rem) and (max-width: 47.9rem) {
  #show .square-grid__red-square-outer, #collection .square-grid__red-square-outer {
    position: relative;
    top: 0;
    right: 0;
  }
}
#show .square-grid__red-square-content, #collection .square-grid__red-square-content {
  position: relative;
  color: black;
  display: flex;
  height: 100%;
  padding: 1.5625vw;
}
@media (min-width: 48rem) {
  #show .square-grid__red-square-content, #collection .square-grid__red-square-content {
    padding-left: 5vw;
  }
}
#show .square-grid__red-square-inner, #collection .square-grid__red-square-inner {
  background-color: white;
  color: black;
  padding: 10px;
  overflow: auto;
}

/**************************\
  Basic Modal Styles
\**************************/
.modal {
  display: none;
}
.modal.is-open {
  display: block;
}

.modal {
  display: none;
}
.modal.is-open {
  display: block;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}
.modal__container {
  background-color: gray;
  padding: 1.5625vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__content {
  background-color: white;
  padding: 1.5625vw;
  color: black;
}
.modal__content-item, .modal__image {
  display: none;
}
.modal__content-item.active, .modal__image.active {
  display: block;
}
.modal__image {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
