* {
  box-sizing: border-box;
}

body {
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
  margin: 0;
  /*
  //CRISPY TEXT
  text-shadow:
    0 0 0px, 
    0 0 0px,
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px, 
    0 0 0px;
    */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header-main {
  display: flex;
  &__square {
    width: 250px;
    height: 250px;
    background-color: #0000fe;
  }
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__title-container {
    background-color: white;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  &__title {
    color: yellow;
    background-color: black;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
  }
}

.nav-main {
  &__items {
    padding: 20px;
  }
  &__item {
    display: block;
    display: flex;
    align-items: center;
    &:nth-child(even) {
      .nav-main__link {
        background-color: #ccc;
      }
    }
  }
  &__link {
    color: black;
    text-transform: uppercase;
    background-color: white;
    padding: 5px 10px;
    display: block;
    width: 200px;
    font-size: 20px;
  }
}

.main {
  display: flex;
  &__col {
    &.left {
      width: 250px;
      background-color: gray;
      padding: 20px;
    }
    &.right {
      background-color: black;
      padding: 60px 20px;
      flex-grow: 1;
      position: relative;
    }
  }
}

.intro {
  background-color: white;
  color: black;
  padding: 5px;
}

.square-grid {
  display: flex;
  flex-wrap: wrap;
  &__square {
    width: 30%;
    margin-left: 3.333%;
    margin-top: 3%;
    background-color: blue;
    position: relative;
    flex-grow: 0;
    &:nth-child(-n + 3) {
      //first 3
      margin-top: 0;
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }
  }
  &__red-square {
    background-color: red;
    position: relative;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 50%;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }
  }
}

.collection {
  &__nav {
    background-color: white;
    color: black;
    padding: 5px;
    height: 100%;
  }
  &__item {
    margin-top: 10px;
  }
  &__link {
    color: black;
    text-transform: uppercase;
  }
}

#collection {
  [data-id="collection"]{
    .nav-main__link {
      background-color: red;
    }
  }
  .square-grid {
    position: relative;
    z-index: 2;
    width: 55%;
    &__square {
      width: calc(50% - 20px);
      margin-left: 20px;
      margin-top: 20px;
      background-color: blue;
      position: relative;
      flex-grow: 0;
      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }
    &__red-square {
      z-index: 1;
      top: 0;
      right: 0;
      background-color: transparent;
    }
    &__red-square-outer {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__red-square-content {
      padding: 20px 20px 20px calc(5% + 40px);
      background-color: red;
      position: relative;
      color: black;
      margin-top: 60px;
    }
    &__red-square-inner {
      background-color: white;
      color: black;
      padding: 10px;
    }
  }

}
